.issue {
    float: left;
    height: 100px;
    width: 270px;
    margin: 3px;
    padding: 5px;
    border: 1px solid gray;
    position: relative;
}

.issue.bug {
    background-color: #ffcccf;
}

.issue.task {
    background-color: #abd1ff;
}

.issue .uid {

}

.issue .uid:before {
    content: '#';
}

.issue .delete, .issue .edit {
    position: absolute;
    text-decoration: none;
    border-bottom: 1px dashed;
}

.issue .delete {
    right: 8px;
}

.issue .edit {
    right: 60px;
}